body {
  background: pink;
  text-align: center;
  background-image: url(images/bg-2.jpg);
  background-size: cover;
  background-position: top center;
}

.parent-cont {
  clear: both;
  background-color: transparent;
  margin: 20px auto;
  width: 700px;
  justify-content: center;
  font-family: "Harry Potter", sans-serif;
  letter-spacing: 5px;
}
.themesong button {
  background: transparent;
  border: none;
  /* position: fixed;
  top: 2%;
  right: 15%; */
}
.themesong .fa {
  font-size: 30px;
  color: #fff;
}

#rules button {
  background: hsla(0, 0%, 4%, 0.7);
  color: aliceblue;
  justify-content: center;
  margin-top: 5px;
  padding: 10px 20px;
  border-radius: 40px;
  border: none;
  box-shadow: 1px 3px 10px rgb(247, 242, 242);
  font-weight: 500;
  font-family: "Harry Potter", sans-serif;
  letter-spacing: 5px;
  transition: all 0.3s ease-in-out;
}
#rules button:hover {
  background: hsla(193, 79%, 22%, 0.6);
}
#rules {
  position: fixed;
  top: 1%;
  right: 1%;
}

#rule {
  clear: both;
  background: hsl(0, 8%, 95%, 0.9);
  color: #0b6680;
  position: fixed;
  top: 10%;
  right: 1%;
  padding: 25px;
  border-radius: 7px;
  box-decoration-break: clone;
}
#rule h3 {
  font-family: "Harry Potter", sans-serif;
}

#rule ul {
  list-style-type: square;
}

#newGame {
  clear: both;
  background: hsl(0, 0%, 100%, 0.7);
  justify-content: center;
  margin: 50px 0;
  padding: 10px 20px;
  border-radius: 40px;
  border: none;
  box-shadow: 1px 3px 10px black;
  font-weight: 500;
  letter-spacing: 5px;
  transition: all 0.3s ease-in-out;
}
#newGame:hover {
  cursor: pointer;
  background-color: #0b6680;
  color: #fff;
}

.frst-row {
  justify-content: space-around;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-flow: row;
}
.frst-row .block {
  background-color: transparent;
  border: none;
  color: black;
  padding: 10px;
  margin: 1px 10px 0;
  border-radius: 7px;
  text-align: center;
}

.b {
  display: inline-block;
}
.frst-row h2 {
  background-color: hsla(0, 0%, 100%, 0.8);
  padding: 20px;
  font-size: 15px;
  font-weight: 700;
  margin: 20px;
  box-shadow: 1px 3px 10px black;
}

.frst-row h1 {
  background-color: #0b6680;
  width: fit-content;
  margin: auto;
  font-size: 25px;
  font-weight: 700;
  color: black;
  padding: 20px 35px 10px;
  border-radius: 7px;
  text-align: center;
}

.parent-cont .img img {
  width: 70px;
  border: none;
  background: none;
  background-color: beige;
  color: white;
}

.scnd-row .current {
  background-color: hsla(34, 29%, 59%, 0.7);
  background-image: url(images/bg-3.jpg);
  background-size: cover;
  background-position: top center;
  background-blend-mode: multiply;
  box-shadow: 0px 0px 30px whitesmoke;
  color: rgb(251, 247, 247);
  border-radius: 7px;
  padding: 20px 60px;
  margin: 10px 30px;
}

.scnd-row {
  justify-content: center;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-flow: row;
}
.current p {
  margin-top: 20px;
  font-size: 25px;
  font-weight: 700;
}

.scnd-row button {
  background-color: hsla(0, 10%, 96%, 0.85);
  display: block;
  margin: 20px auto;
  border: none;
  padding: 15px 25px;
  border-radius: 40px;
  box-shadow: 1px 3px 10px black;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 5px;
  transition: all 0.3s ease-in-out;
}

button:hover {
  cursor: pointer;
  background-color: #0b6680;
  color: #fff;
}
